<!--<main>-->
<!--&lt;!&ndash;	<a [routerLink]="['/']">&ndash;&gt;-->
<!--&lt;!&ndash;	  <header class="brand-name">&ndash;&gt;-->
<!--&lt;!&ndash;		<img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />&ndash;&gt;-->
<!--&lt;!&ndash;	  </header>&ndash;&gt;-->
<!--&lt;!&ndash;	</a>&ndash;&gt;-->
<!--	<section class="content">-->
<!--	  <router-outlet></router-outlet>-->
<!--	</section>-->
<!--  </main>-->

	<div class="flex items-center justify-center pt-8 pb-8">
		<div class="flex items-center justify-center">
			<img ngSrc="assets/logo-white-no-bg-trimmed.png" class="max-w-56" alt="Scout Wizard Logo" height="500" width="500"/>
		</div>
	</div>

	<div class="">
		<!--  <app-account *ngIf="session; else auth" [session]="session!"></app-account>-->
		<router-outlet></router-outlet>

	</div>

