<section *ngIf="session; else auth">
  <div style="margin-bottom: 5%">
    <h1>Scout Wizard</h1>
  </div>

  <div style="width : 75%; margin-right: auto; margin-left: auto">
    <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8" style="width: 75%">

      <ng-container matColumnDef="espn_headshot">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let player"><img src="{{player.espn_headshot}}" style="max-height:60px"></td>
      </ng-container>

      <ng-container matColumnDef="long_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="'Sort by Name'">Name</th>
        <td mat-cell *matCellDef="let player">{{ player.long_name }}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          (click)="navigateToPlayerDetails(row)"
      >
      </tr>
    </table>

  </div>


  <mat-paginator
    [pageSize]="50"
    showFirstLastButtons
    [pageSizeOptions]="[25,50,100,500]"
  >
  </mat-paginator>



  <ng-template #noPlayers>
    <p>Sorry! No players available to display</p>
  </ng-template>


</section>

<ng-template #auth>
  <app-auth></app-auth>
</ng-template>


